@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  .Parentitem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .Parenttitle {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;

      @include lg{
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      font-weight: 500;

      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle{
        @include lg{
          display: none;
        }
        
      }
    }
  }
  
  .Parentitem2{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between
    
    ;

    .listItemA{
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      font-weight: 500;
      background-image: linear-gradient(to right, #8e2de2, #4a00e0);
      margin-top: 50px;


      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitleA{
        @include lg{
         
        }


      }
    }
    .listItemB{
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      font-weight: 500;
      margin-top: 10px;
     

      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitleB{
        @include lg{
          display: none;
        }

        
      }
    }
  }
  
}